#ArticleList {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#ArticleList .article {
    margin-left: 0;
    padding-left: 0;
}

#ArticleList .article .title {
    font-weight: bold;
}

#ArticleList .article .date {
    margin-left: 8px;
}

#ArticleList .article .content {
    display: block;
    margin-bottom: 8px;
}